
.box {
    height: 80vh;
    display: grid;
    place-items: center;
}

.box-task {
    display: flex;
    max-width: 600px;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.table-task-row-buttons {
    padding: 20rem;
}